In [45]:
import qgrid
import pandas as pd
import time

In [48]:
df = pd.DataFrame({'col1':['test1','test2'], 'col2':[3,7]})
qgrid_widget = qgrid.show_grid(df)
display(qgrid_widget)
time.sleep(10)
qgrid_widget.get_changed_df()

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

    col1  col2
0  test1     3
1  test2     7

         col1  col2
0  edit_test1     3
1       test2     7

In [44]:
expt_df

NameError: name 'expt_df' is not defined

In [43]:
df['col3'] = None
df.loc[2] = {'col1':'test3','col3':21}

ValueError: cannot set a row with mismatched columns

In [24]:
df

    col1 col2  col3
0  test1    3  None
1  test2    7  None
2  test3  NaN    21